app = 'canopy-sight-web'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  NEXT_PUBLIC_API_URL = 'https://canopy-sight-api.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
